<% provide(:title, "Sobre Nós") %>
<h1>Sobre nós</h1>
<p>Nosso objetivo é ajudar você a achar uma festa com mais facilidade, descobrir novos eventos e conhecer novas pessoas.</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
