<p>
  Deseja encontrar festas próximas a você?<br />
  <%= link_to "Cadastre-se!", signup_path, class: "btn btn-lg btn-primary" %>
</p>
<p>
  É dono de uma balada e deseja promover suas festas?<br />
  <%= link_to "Cadastre-se!", signup_path, class: "btn btn-lg btn-primary" %>
</p>

