<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Há <%= pluralize(@user.errors.count, "erro") %>.
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= t(msg.split.first) %> <%= msg.split[1..-1].join(' ') %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
