<% if @night_house.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Há <%= pluralize(@night_house.errors.count, "erro") %>.
    </div>
    <ul>
    <% @night_house.errors.full_messages.each do |msg| %>
      <!-- <li><%#= msg %></li> -->
      <li><%= t(msg.split.first) %> <%= msg.split[1..-1].join(' ') %></li>
    <% end %>
    </ul>
  </div>
<% end %>
