<% provide(:title, 'Casas Noturnas') %>
<h1>Casas Noturnas</h1>

<%= will_paginate %>

<ul class="users">
  <% @night_houses.each do |night_house| %>
    <%= render night_house %>
  <% end %>
</ul>

<%= will_paginate %>
