<footer class="footer" style="background-color:#333">
  <div class="container" style="background-color:#333">
    <br />
    <p class="text-muted">PartyFinder&#174; por Julia Litvinoff Justus - <%= Date.today.year %></p>
  </div>
</footer>
